<form class="ask" action="/posts" method="post" accept-charset="utf-8">
    <label for="ask">Ask a question</label>

    <input class='title-input' placeholder="What is your question?" type="text" name="title" id="title">
    <textarea placeholder="Tell us more about your problem." class="description-input" type="text" name="description"
        id="description"></textarea>
    <input class='submit-question' type="submit" value="Submit question">
</form>
<div class="posts">
    {{#each questions}}
    <a class="post-list-item" href="posts/{{this._id}}">{{this.title}}</a class="post-list-item">
    {{/each}}
</div>